<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriTech.com</title>
    <link rel="icon" type="image/agric-icon" href="img/agriculture-icon-logo-vector-design-template_827767-2374.avif">
</head>
<body>
    <div class="container" id="container">
        <div class="header" id="header">
            <h3><em>Sign in</em></h3>
            <p>Kindly login if you have an account or register if you are a new user</p>
        </div>
        <form action="loginpage" method="post"> <br>
            <button type="submit" id="btn1" class="btn1" name="btn1">Register</button> <br> <br>
            <button type="submit" id="btn2" class="btn2" name="btn2">Login</button> <br> <br>
            <button type="submit" id="btn3" class="btn3" name="btn3">Back</button> <br> <br>
        </form>
            <br>
        <footer style="font-family: cursive; text-align:center;" >
            <h2><em>&copy; Victor Onipinsaiye,<%= year %>. All rights reserved </em></h2>
        </footer>
    </div>
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/65d3151d9131ed19d96e81e3/1hn08kvnl';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
<style>
    .btn1, .btn2, .btn3{
        width: 65%;
        height: 60px;
        margin-left: 100px;
        font-family: cursive;
        font-weight: bolder;
        background-color: #9ACD32;
        border-radius: 8px;
        border-color: #9ACD32;
    }
    .container{
        margin-top: 10%;
        margin-left: 350px;
        margin-bottom: 30px;
        border: 2px solid whitesmoke;
        width:610px ;
        height: 470px;
        font-family: cursive;
        background-image: url(/img/Babbangona02.jpeg);
        background-repeat: no-repeat;
        background-size: 400vh;
        color: whitesmoke;
    }
    .header{
        text-align: center;
    }
    fieldset{
        width: 600px;
        margin-left: 345px;
        border-color: whitesmoke;
    }
</style>
</html>