<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriTech.com</title>
    <link rel="icon" type="image/agric-icon" href="img/agriculture-icon-logo-vector-design-template_827767-2374.avif">
</head>
<body>
    <div class="covering" id="covering">
        <div class="header" id="header">
            <h3><em>Terms and Conditions for Third-Party Transporters</em></h3>
            <p>
                <h3>1. Introduction </h3>
                These terms and conditions ("Agreement") apply to all third-party transporters ("Transporters")
                engaged by Agri-Tech ("The Company") for the logistics and transportation of agricultural <br>
                products for our farmer members.
            </p>
            <p>
                <h3>2. Service Obligation </h3> 
                Transporters agree to transport agricultural products safely and efficiently from specified <br>
                pickup locations to designated delivery points.
            </p>
            <p>
                <h3>3. Quality Assurance </h3> 

                Transporters must ensure that vehicles are clean, pest-free and suitable for transporting <br>
                agricultural products. <br>

                Any agricultural products damaged in transit due to negligence or mishandling will be the <br>
                resposibilty of the Transporter.
            </p>
            <p>
                <h3>4. Timeliness </h3> 
 
                Transporters must adhere to the delivery schedules provided by The Company. Any dekays <br>
                must be communciated promptly.
            </p>
            <p>
                <h3>5. Pricing </h3> 

                Price for transportation services will be agreed upon in writing prior to engagement.No <br>
                additional costs will be entertained unless pre-approved by The Company.

            </p>
            <p>
                <h3>6. Payment Terms.</h3>

                Payment will be made within 72 hours of the receipt of a valid invoice, subject to the satisfactory <br>
                completeion of services.
            </p>
            <p>
                <h3>7. Confidentiality. </h3>  

                All information regarding The Company, its farmer members and business practices must be <br>
                kept confidential and not disclosed withou written consnet.
            </p>
            <p>
               <h3> 8. Liability </h3> 
 
                The Transporter agrees to indemnify The Company against any losses, damages or costs <br>
                arising from their negligence, breach of contract or unlawful conduct.
            </p>
            <p>
                <h3>9. Termination </h3>  

                The Company reserves the right to terminate this agreement with a Transporter for breach of <br>
                any terms outlined herein with written notice of 7 days.
            </p>
            <p>
                <h3>10. Dispute Resolution </h3>

                Any dispute arising from this Agreement will be resolved amicably through mutual <br>
                discussions. If unresolved, dispute shall be subject to arbitration as per the jurisdiction of Nigeria.
            </p>
            <p>
                <h3>11. Regulatory Compliance </h3> 

                Transporters must comply with all local state and national regulations and laws pertaining to <br>
                the transportation of agricultural products.
            </p>
            <p>
                <h3>12. Insurance </h3>

                Transporters are required to maintain valid insurance covering all potential risks associated <br>
                with the transportation services. Proof of insurance must be proveded upon request.
            </p>
            <p>
                <h3>13. Non-exclusivity</h3> 

                This Agreement does not guarantee exclusivity. The Company reserves the right to engage <br>
                multiple Transporters based on operational nneds.
            </p>
            <p>
                <h3>14. Amendments </h3>  

                Aby chnages to this Agreement must be in writing and agreed upon by both parties.
            </p>
            <p>
                <h3>15. Governing Law </h3> 

                This Agreement shall be governed by the laws of Nigeria
            </p>
            <p>
                <h3>Acknowledgment</h3>

                By Clicking on the checkbox, the Transporter acknowledges that they have read, understood and agreed <br> to the terms and conditions stated in this Agreement.
            </p>
            <br>
            <form action="termtransporter" method="post">
                <button type="submit" style="width: 150px; height: 30px;" name="submitbtn" class="btn">Done Reading</button>
            </form>
        </div>

            <br>
        <footer style="font-family: cursive; text-align:center;" >
            <h2><em>&copy; Victor Onipinsaiye,<%= year %>. All rights reserved </em></h2>
        </footer>
    </div>
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/65d3151d9131ed19d96e81e3/1hn08kvnl';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    
</body>
<style>
    button{
        width: 85%;
        height: 40px;
        margin-left: 10px;
        font-family: cursive;
    }
    .covering{
        margin-top: 10px;
        margin-left: 260px;
        margin-bottom: 30px;
        border: 2px solid black;
        width:800px ;
        height: 1970px;
        font-family: cursive;
        color: black;
    }
    .header{
        text-align: center;
    }
</style>
</html>